SERVER_BASE_URL=

NODE_ENV=
PORT=
API_PREFIX=
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_RESET_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

DATABASE_URL=used for packages/database seeding, can be changed later
ADMIN_EMAIL=used for packages/database seeding, can be changed later
ADMIN_PASSWORD=used for packages/database seeding, can be changed later